body {
    background-color: #000072;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #bfb8b8;
    /* animation-name: textAnimate;
    animation-duration: 4s; */
}

/* @keyframes textAnimate {F
    0%   {color: red; }
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  } */

.navBtn {
    color: #bfb8b8 !important;
    font-family: monospace !important;
    line-height: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    font-weight: 900 !important;

}

.navBtn:hover {
    color: #000072 !important;
}

tr:hover {
    background-color: #bfb8b8 !important;
}
